head {
  background-color: ivory;

}
body {
  background-color: ivory;
  padding: 10px 50px 10px 50px;

}
h1 {
  font: Oswald;
  color: #00008B;

}
h2 {
  font: Oswald;
  color: #00008B;

}
p {
  font: Open Sans;
  color: #00008B;

}

